
/*General Stuff*/
h1, h2 , h3, h4, h5, h6 {
    font-family: 'Baloo Da 2', cursive;
    text-align: center;
}

p {
    font-family: 'Open Sans', sans-serif;
}

button {
    font-family: 'Baloo Da 2', cursive;
    font-weight: 400;
    font-size: 14pt;
    width: 150px;
    height: 50px;
    background-color: white;
    border: #030720 3px solid;
}

a {
    color: #030720;
    text-decoration: none;
}

a:hover {
    font-weight: 600;
}
/*Nav Stuff*/
nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons {
    display: none;
}

.nav-title {
    font-family: 'Baloo Da 2', cursive;
    text-decoration: none;
    font-weight: 400;
    font-size: 14pt;
    color: #030720;
}

/* Specific Nav Items*/

.Resume {
    font-family: 'Baloo Da 2', cursive;
    font-size: 18pt;
    font-weight: 500;
}

.Resume:hover {
    color: #F36E25;
    font-weight: 600;
}


/*Hero Carosoul*/

/* Slideshow container */
.mySlides {
    position: relative;
  text-align: center;
  color:#030720;
  display: none;
}

/*.active {
    display: inline-block;
}*/

.text {
  font-family: 'Baloo Da 2', cursive;
  font-size: 18pt;
  font-weight: 600;  
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}

{box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.one {
    background-color: #F36E25;
}
.two {
    background-color: #FDCD77;
}
.three {
    background-color: #78BC89;
}
.four {
    background-color: #D7F2D6;
}
.active, .dot:hover {
  background-color: #030720;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*Skills*/
.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}


.up {
    margin-bottom: 150px;
}

.down {
    margin-top: 150px;
}

#EmpathySkills {
    width: 300px;
    height: auto;
    position: absolute;
    left: 250px;
    padding: 10px;
    background-color: #ffffff;
    border: solid 3px #F36E25;
    box-shadow: 5px 5px 5px #F36E25;
    z-index: 100;
    display: none;
}

#DefinitionSkills {
    width: 300px;
    height: auto;
    position: absolute;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #FDCD77;
    border: solid 3px #FDCD77;
    z-index: 100;
    display: none;
}

#IdeationSkills {
    width: 300px;
    height: auto;
    position: absolute;
    right: 150px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #78BC89;
    border: solid 3px #78BC89;
    z-index: 100;
    display: none;
}

#PrototypingSkills {
    width: 300px;
    height: auto;
    position: absolute;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #78BC89;
    border: solid 3px #78BC89;
    z-index: 100;
    display: none;
}

#TestingSkills {
    width: 300px;
    height: auto;
    position: absolute;
    right: 200px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #F36E25;
    border: solid 3px #F36E25;
    z-index: 100;
    display: none;
}

/*Recent Projects*/
.Recent-Projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.project {
    width: 300px;
    padding: 10px 5px 10px 5px;
}
/* Specific Projects*/

.Recent-Projects .LKB {
    border: 3px solid #F36E25;
}

.Recent-Projects .AFB {
    border: 3px solid #78BC89;
}

.Recent-Projects .HUD {
    border: 3px solid #FDCD77;
}

.lastButton {
    display: flex;
    justify-content: center
}
.AllProjects {
    width: 300px;
    height: 70px;
    border: solid 5px #030720;
    margin-top: 50px;
    font-size: 18pt;
}
button:hover {
    font-weight: 600;
}

/*About CSS*/
#aboutMe {
    display: flex;
    justify-content: start;
    margin-left: 50px;
    margin-top: -20px;
}

/*.fact-text {
    font-family: 'Baloo Da 2', cursive;
    font-size: 14px;
    text-align: center;
}*/



#mainAbout {
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
}

#Hi {
    color: #fa8858;
    text-align: left;
}

#mainPara {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

#mainImage {
    float: left;
}

#otherAbout {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1%;
}

.otherInterests {
    font-family: 'Baloo Da 2', cursive;
    font-size: 18pt;
    color: #fa8858;
    background:none ;
}

#otherPics {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.top {
    margin-bottom: 50px;
}

.bottom {
    margin-top: 50px;
}


/*Work*/
.csInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #030720;
    color: #D7F2D6;
    text-align: center;
    height: 300px;
}
/*Grid*/

#workGrid {
    margin: 0px 8% 5% 8%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 10px;
    grid-template-areas:  
    "hudMock hudInfo hudInfo"
    "victualInfo victualInfo victualMock"
    "foodMock foodInfo foodInfo";
}


#hudMock {
    grid-area: hudMock;
    text-align: center;
}
#hudInfo {
    grid-area: hudInfo;
}

#victualInfo {
    grid-area: victualInfo;
}
#victualMock {
    grid-area: victualMock;
    text-align: center;
}

#foodMock {
    grid-area: foodMock;
    text-align: center;
}
#foodInfo {
    grid-area: foodInfo;
}

#csButtonOrange {
    background-color: #ffffff;
    border: #F36E25 solid 3px;
    width: 200px;
}

#csButtonYellow {
    background-color: #ffffff;
    border: #FDCD77 solid 3px;
    width: 200px;
}

#csButtonGreen {
    background-color: #ffffff;
    border: #78BC89 solid 3px;
    width: 200px;
}

.csTitle {
    color: #fa8858;
}


/*Footer*/
footer {
    margin-top: 100px;
    text-align: center;
}

.foot-icons {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}


/*Median Queries*/

@media only screen and (max-width: 900px) {
    
    .nav-item {
      display: none;
    }
    .icons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
